* {
    z-index: 1;
}

html { overflow-y: scroll; }

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
}

/* Layout */
#navigation, #banner, #main,
.block {
    padding: 0;
    margin: 0 0 20px 0;
}

#breadcrumb {
    margin: 0 0 10px 0;
}

.block-title {
    padding: 0;
    margin: 0 0 10px 0;
}

.page-header {
    padding: 20px 0 10px 0;
    margin: 0 0 20px 0;
}

.page-header h1 {
    padding: 0;
    margin: 0;
}

article#single-post {
    padding: 0 20px 10px 20px;
    margin: 0;
}

article#single-product {
    padding: 20px 20px 0 20px;
    margin: 0;
}

@media (min-width: 768px) {
    article#single-product {
        padding: 0 20px 0 0;
    }
}

.block,
article#single-product,
.aside {
    margin-bottom: 30px;
}
/* End: Layout */

/* Navigation */
#navigation .navbar-brand img {
    width: auto;
    height: 20px;

    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

#navigation.navbar-inverse .navbar-nav a {
    color: #ddd;
}
#navigation.navbar-inverse .navbar-nav a:hover {
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

#navigation-menu .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline-width: 0;
}
#navigation-menu .btn {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    outline-width: 0;
}

#navigation .list-inline {
    margin-top: 5px;
}
#navigation .list-inline a {
    font-size: .9em;
    text-decoration: none;
    color: #ddd;
}
#navigation .list-inline a:hover {
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

@media (min-width: 768px) {
    #navigation .navbar-brand img {
        height: 50px;
    }

    #navigation-menu .navbar-nav {
        margin-top: 8px;
        margin-right: 10%;
    }

    #navigation-menu .navbar-form {
        margin-top: 10px;
        padding-right: 0;
    }
    #navigation-menu .form-group {
        display: inline;
    }
    #navigation-menu .input-group {
        display: table;
    }
    #navigation-menu .input-group-btn {
        width: 1%;
    }
}
/* End: Navigation */

article {
    background-color: #fff;
}

.block-title {
    font-size: 1.2em;
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.breadcrumb {
    background-color: transparent;
    font-size: .95em;
    padding: 0;
    margin: 0;
}

.breadcrumb > li + li:before {
    font-family: 'Glyphicons Halflings';
    font-size: .7em;
    content: "\e258";
    color: #999;
}

.breadcrumb a {
    color: #222;
}
.breadcrumb li.active {
    color: #000;
}

#single-product-slides .carousel-indicators {
    text-align: left;
    width: 100%;
    position: relative;
    top: auto;
    bottom: auto;
    left: 0;
    right: auto;
    margin: 0;
}

#single-product-slides .carousel-indicators div {
    text-indent: 0;
    border: 0;
    width: 25%;
    height: auto;
    padding: 2px 2px 0 0;
    margin: 0
}
#single-product-slides .carousel-indicators div:last-child {
    padding-right: 0;
}

#single-product-slides .carousel-indicators div img {
    outline: 2px solid transparent;
    outline-offset: -2px;
    display: block;
    width: 100%;
    height: auto;
}
#single-product-slides .carousel-indicators div.active img {
        outline-color: #222;
}

.product-cards {
    margin: 0 -5px;
}

.product-cards div[class*="col-"] {
    padding: 5px;
}

.thumbnail {
    line-height: 1em;
    border: 0;
    border-radius: 0;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0;
    margin-bottom: 0;

    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
       -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail a figure {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.thumbnail a figure img {
    width: 100%;

    -webkit-transition: all 0.25s;
       -moz-transition: all 0.25s;
            transition: all 0.25s;
}
.thumbnail a:hover figure img {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
            transform: scale(1.1);
}

.thumbnail .sold-out {
    content: '';
    background-image: url(../img/sold-out.png);
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .35));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .35));
}

.thumbnail .best-seller {
    content: '';
    background-image: url(../img/best-seller.png);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 9;
    top: -5px;
    right: -5px;

    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .35));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .35));
}

.thumbnail .caption p {
    font-size: .95em;
    color: #333;
    display: block;
    margin: 5px 0 0 0;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail .caption .kode {
    font-size: 1em;
    font-weight: bold;
}

.thumbnail .caption .harga {
    font-weight: bold;
    color: #000;
    border-top: 1px solid #eee;
    padding-top: 5px;
}

.thumbnail .caption .harga strike {
    font-size: .9em;
    font-weight: normal;
    color: #a00;
    display: block;
}

.aside ul a {
    color: #444;
}
.aside ul a:hover {
    color: #111;
}

#copyright {
    font-size: .9em;
    color: #fff;
    background-color: #222;
    padding-top: 15px;
    padding-bottom: 5px;

    -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, .75);
       -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, .75);
            box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, .75);
}

.row.product-cards {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.row.product-cards [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.product-cards [class*='col-'] .thumbnail,
.row.product-cards [class*='col-'] .thumbnail a {
    display: block;
    height: 100%;
}